<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE
        suite
        SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Projects/ApplauseAssessment">
        <classes><class name="Tests.SeleniumTest">
            <methods><include name="teststeps"/></methods>
        </class>
        </classes>
    </test>
</suite>